<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="demonopcommece">
	<listeners>
		<listener class-name="listeners.listener"></listener>
	</listeners>
	<parameter name="url" value="https://demo.nopcommerce.com"></parameter>
  <test thread-count="5" name="include and exclude test">
    <classes>
      <class name="testng.crm">
		  
		  <methods>
			  
			  <include name="url"></include>
		  </methods>
		  
		</class>      
      <class name="testng.NewTest">
		  
		  <methods>
			  <exclude name="signup"></exclude>
		  </methods>
      </class>
    </classes>
  </test> <!-- end to end test -->
  
  <test thread-count="5" name="end to end test">
    <classes>
      <class name="testng.crm"/>
      <class name="testng.NewTest"/>
    </classes>
  </test> <!-- end to end test -->
</suite> <!-- demonopcommece -->
